# System-dependent autogen file
.DS_Store
desktop.ini

# IDE specific files
.idea
.project
*.iml
*.ipr
*.iws

# Dart what not commit 
# https://dart.dev/guides/libraries/private-files
# by dart pub
.dart_tool/
.packages
build/
pubspec.lock

# by dart doc
doc/api/

# By code generator
*.g.dart
*.mocks.dart

# By Flutter pub
.flutter-plugins
.flutter-plugins-dependencies

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings