<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- LOG_PATH will be set as the value of logging.path of application.properties if not defined at here -->
    <!--<property name="LOG_PATH" value="/var/temp/log/" />-->
    <!-- LOG_FILE will be set as the value of logging.file of application.properties if not defined at here -->
    <!--<property name="LOG_FILE" value="spring-board-demo"/>-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</Pattern>
        </layout>
    </appender>

    <!-- We only print to STDOUT while developing on DEV stage(usually, local only) -->
    <root level="VERBOSE">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
